.container {
    margin-top: 50px;
}
h1 {
    text-align: center;
}
#logologin{
    background: url(./../../../assets/login.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}