<body>
  
</body>
<div>
  <div class="container" id="imagenes">
      <h2>¿Que tenemos para ti?</h2>
      <div class="row">
          <div class="col-3">
              <div>
                  <img src="..\assets\1a.png" alt="fgadas">
                  <h4>TELEVISORES</h4>
              </div>
          </div>
          <div class="col-3">
              <div>
                  <img src="..\assets\2a.png" alt="fgadas">
                  <h4>LAPTOPS</h4>
              </div>  
          </div>
          <div class="col-3">
              <div>
                  <img src="..\assets\3a.png" alt="fgadas">
                  <h4>CELULARES</h4>
              </div> 
          </div>
          <div class="col-3">
              <div>
                  <img src="..\assets\5a.png" alt="fgadas">
                  <h4>VIDEOJUEGOS</h4>
              </div> 
          </div>

          
      
      </div>
  </div>
</div>
<div class="lonuevo" style="background-color: #E3EBC4; ">
    <h2 style="margin-top: 0px;margin-bottom: 0px; padding-top: 30px;margin-bottom: 30px;">Lo nuevo para ti</h2>
    <div class="card-deck">
        
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text er.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural that equal height action.</p>
          </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text belirst to show that equal height action.</p>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
</div>

</div>
<div class="mascomprado" style="background-color: #E3EBC4;">
    <h2 style="margin-top: 0px;margin-bottom: 0px; padding-top: 30px;padding-top: 30px;margin-bottom: 30px;">Lo mas comprado</h2>
    <div class="card-deck">
        
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text er.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural that equal height action.</p>
          </div>
        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text belirst to show that equal height action.</p>
            </div>
          </div>
          <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
          </div>
    </div>

</div>

<footer>
  <div class="divfooter">
      <div class="a"><h2>SIGUEME EN :</h2></div>
      <div class="iconos">
          <img src="..\assets\facebook.svg" alt="fgadas">
          <img src="..\assets\linkedin.svg" alt="fgadas">
          <img src="..\assets\logo.svg" alt="fgadas">
          <img src="..\assets\instagram.svg" alt="fgadas">
      </div>
  </div>
  
              


</footer>