<div class="container">
    <div class="row mt-5">
      <div class="col ">
          <div  class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{producto.nombreProducto}}</h5>
              <p class="card-text">gaaaaaaaaaaaaaaa</p>
            </div>
            <div class="card-body">
              <a href="#" class="card-link">Agregar a Carrito</a>
              <a [routerLink]="['/producto', producto.id]" class="card-link">Ver más</a>
            </div>
          </div>
      </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <div class="fotos">
                <img src="https://as01.epimg.net/tikitakas/imagenes/2018/11/01/portada/1541090901_594075_1541091249_noticia_normal.jpg" alt="">
                <img src="https://as01.epimg.net/tikitakas/imagenes/2018/11/01/portada/1541090901_594075_1541091249_noticia_normal.jpg" alt="">  
            </div>
        
        </div>
        <div class="col-6">
            <div class="fotoPrincipal">
                <div>
                    <img src="https://as01.epimg.net/tikitakas/imagenes/2018/11/01/portada/1541090901_594075_1541091249_noticia_normal.jpg" alt="">
                </div>
            </div>
            
        </div>
        <div class="col-2">
            <div>
               <p>comprar</p>
            </div>
        </div>
    </div>

</div>