<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light " >
    <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" id="ga">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/" >Inicio <span class="sr-only">(current)</span></a>
        </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/productos" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catalogo
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Ropa</a>
            <a class="dropdown-item" href="#">Tv</a>
          </div>
        </li>
  
        <li class="nav-item active">
          <a class="nav-link" routerLink="/contacto">Contacto <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/cartera">Cartera <span class="sr-only">(current)</span></a>
        </li>
       
        <li class="nav-item " *ngIf ="isLogin == false">
          <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
  
        <li class="nav-item dropdown" *ngIf ="isLogin != null">
          <a class="nav-link dropdown-toggle" routerLink="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{nombreUsuario}} 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
  
            <a class="nav-link" routerLink="">Info. Personal <span class="sr-only">(current)</span></a>
            <a class="nav-link" (click)="salir()">Salir <span class="sr-only">(current)</span></a>
          </div>
        </li>
  
        <li class="nav-item " *ngIf ="isadmin == true">
          <a class="nav-link" routerLink="/editor">Administar <span class="sr-only">(current)</span></a>
        </li>
  
  
      </ul>  
    </div>
  
  </nav>

</header>


  

